<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>商品详情</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- jquery -->
    <script type="text/javascript" th:src="@{js/jquery.min.js}"></script>
    <!-- bootstrap -->
    <link rel="stylesheet" type="text/css" th:href="@{bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{css/detail.css}"/>

</head>
<body>


<!--<div class="top">-->
    <!--<span th:if="${user == null}"> 您还没有登录，请登陆后再操作</span>-->
    <!--<span th:if="${user != null}"> <span th:text="'欢迎您 '+${user.userName}"></span></span>-->
    <!--<span>没有收货地址的提示。。。</span>-->
<!--</div>-->
<div class="goods">
    <div class="containers">
        <div class="goods_view">
            <img th:src="@{${seckillGoods.goods.goodsImg}}" width="560"/>
        </div>
        <div class="goods_info">
            <div style="overflow: hidden;">
                <h2 th:text="${seckillGoods.goods.goodsName}" style="line-height: 48px;float: left;"></h2>
                <div class="seckill_data" style="float: right;line-height: 48px;font-weight: bold">
                    <!--<span>秒杀开始时间</span>-<span>秒杀结束时间</span><br />-->
                    <span th:text="${#dates.format(seckillGoods.beginTime, 'yyyy-MM-dd HH:mm:ss')}"></span>---
                    <span th:text="${#dates.format(seckillGoods.endTime, 'yyyy-MM-dd HH:mm:ss')}"></span>
                </div>
            </div>
            <!--<p class="title" th:text="${goods.goods.goodsTitle}"></p>-->
            <div style="height: 38px;background-color: lightblue">
                <div style="float: left;height: 38px;font-size: 16px;line-height: 38px;">
                    <span class="price1" th:text="${seckillGoods.seckillPrice}+'元  '"></span>
                    <del><span class="price2" th:text="${seckillGoods.goods.goodsPrice}+'元'"></span></del>

                </div>
                <div class="seckillStatus" style="float: right;">
                    <input type="hidden" id="remainSeconds" />
                    <span id="tipInfo"></span> <span id="countDown" >200</span><span id="second">秒</span>

                </div>
            </div>
            <br/>
            <br/>
            <br/>
            <br/>

            <div class="count">
                <span>库存：</span>
                <span id="seckillStock"></span>
            </div>

            <form id="miaoshaForm" method="post" th:action="@{seckill/buy}" onsubmit="return false;">
                <button class="btn btn-primary" type="submit" id="buyButton">立即抢购</button>
                <input type="hidden" name="sid" th:value="${seckillGoods.seckillId}"/>
                <input type="hidden" name="info" value="" id="info"/>
            </form>
        </div>
    </div>
</div>

</body>
<script type="text/javascript" th:src="@{bootstrap/js/bootstrap.min.js}"></script>
<!-- jquery-validator -->
<script type="text/javascript" th:src="@{jquery-validation/jquery.validate.min.js}"></script>
<script type="text/javascript" th:src="@{jquery-validation/localization/messages_zh.min.js}"></script>
<!-- layer -->
<script type="text/javascript" th:src="@{layer/layer.js}"></script>
<!-- md5.js -->
<script type="text/javascript" th:src="@{js/md5.min.js}"></script>
<!-- common.js -->
<script type="text/javascript" th:src="@{js/common.js}"></script>
<script>
    $(function () {

        $.ajax({
            type:"get",
            url:"seckill/info?sid=" + [[${seckillGoods.seckillId}]],
            dataType:"json",
            success:function(data){
                var seckillStock = data.info.seckillStock;
                var remainTime = data.info.remainTime;
                var seckillState = data.info.seckillState;
                var md5Info = data.info.md5Info;
                $("#remainSeconds").val(remainTime);
                $("#seckillStock").html(seckillStock);

                if(seckillState == -1){
                    $("#tipInfo").html("秒杀倒计时");
                    $("#countDown").html(remainTime);
                }else if(seckillState == 0){
                    $("#tipInfo").html("秒杀中");
                    $("#info").val(md5Info);
                }else{
                    $("#tipInfo").html("秒杀已结束");
                }
                countDown();
            }

        })
    });

    function countDown() {
        var remainSeconds = $("#remainSeconds").val();
        var timeout;
        if (remainSeconds > 0) {//秒杀还没开始，倒计时
            $("#buyButton").attr("disabled", true);
            timeout = setTimeout(function () {
                $("#countDown").text(remainSeconds - 1);
                $("#remainSeconds").val(remainSeconds - 1);
                countDown();
            }, 1000);
        } else if (remainSeconds == 0) {//秒杀进行中

            $("#buyButton").attr("disabled", false);
            $("#countDown").attr("disabled", true);
            $("#second").attr("disabled", true);
            if (timeout) {
                clearTimeout(timeout);
                // 获取md5接口
                $.ajax({
                    type:"get",
                    url:"seckill/urlInfo?sid=" + [[${seckillGoods.seckillId}]],
                    dataType:"json",
                    success:function(data){
                        if(data.code == 1){
                            $("#info").val(data.info);
                        }
                    }
                })
            }

            $("#tipInfo").html("秒杀进行中");
        } else {//秒杀已经结束
            $("#buyButton").attr("disabled", true);
            $("#countDown").attr("disabled", true);
            $("#second").attr("disabled", true);
            $("#tipInfo").html("秒杀已经结束");
        }
    }

</script>

<script>
    $("form").submit(function(){
        $("#buyButton").attr("disabled", true);
        $.ajax({
            type:"post",
            url:"seckill/buy",
            data:$("form").serialize(),
            dataType:"json",
            success:function(data){
                if(data.code == 1){
                    // 发送请求，轮询，是否生成订单
                }else{
                    alert(data.info);
                }
                $("#buyButton").attr("disabled", false);
            },
            error:function(){
                $("#buyButton").attr("disabled", false);
            }

        })
    })

</script>

</html>
