<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qfedu.seckill1905.dao.SeckillDao">

    <resultMap id="seckllMap" type="seckillGoods">
        <id column="seckill_id" property="seckillId"></id>
        <result column="seckill_price" property="seckillPrice"></result>
        <result column="begin_time" property="beginTime"></result>
        <result column="end_time" property="endTime"></result>
        <result column="seckill_stock" property="seckillStock"></result>
        <result column="seckill_url" property="seckillUrl"></result>
        <result column="version" property="version"></result>
        <association property="goods">
            <id column="goods_id" property="goodsId"></id>
            <result column="goods_name" property="goodsName"></result>
            <result column="goods_img" property="goodsImg"></result>
            <result column="goods_price" property="goodsPrice"></result>
        </association>
    </resultMap>

    <select id="findAll" resultMap="seckllMap">
        select s.seckill_id,s.seckill_price,s.begin_time,s.end_time,s.seckill_stock,s.seckill_url,g.* from t_seckill s
        INNER JOIN t_goods g
        on s.goods_id=g.goods_id
    </select>

    <select id="findById" parameterType="int" resultMap="seckllMap">
        select s.seckill_id,s.seckill_price,s.begin_time,s.end_time,s.seckill_stock,s.seckill_url,s.version,g.* from t_seckill s
        INNER JOIN t_goods g
        on s.goods_id=g.goods_id
        where s.seckill_id=#{sid}
    </select>
    
    <update id="updateStockById" parameterType="int">
        update t_seckill set seckill_stock=seckill_stock-1 where seckill_id=#{sid}
    </update>

    <select id="getStock" parameterType="int" resultType="int">
        select seckill_stock from t_seckill where seckill_id=#{sid}
    </select>

    <update id="updateUrlById" parameterType="map">
        update t_seckill set seckill_url=#{url} where seckill_id=#{sid}
    </update>



</mapper>